{{define "nav"}}
<nav>
    <div>
        <a href="/">Home</a>
        <a href="/snippet/create">Create snippet</a>
    </div>
    <div>
        <a href="/user/signup">Signup</a>
        {{if .User}}{{.User}}{{else}}<a href="/user/login">Login</a>{{end}}
        <form action="/user/logout" method="post">
            <button>Logout</button>
        </form>
    </div>
</nav>
{{end}}